.project{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}
.project h3{
    margin-top: 90px;
    margin-bottom: -50px;
    font-size: 24px;
    background: linear-gradient(to top, rgb(106, 8, 233), rgb(220, 0, 240));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}
.project-container{
    width: 65%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
    padding-top: 100px;
}
.project-content{
    height: 350px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #242323;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.project-content img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: filter 0.2s ease;
}
.project-content:hover img{
    filter: blur(35px);
}
.dark .project-content{
    box-shadow: 1px 1px 15px #ee71d9;
    transition: all 0.4s ease-in-out;
}
.the-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 30px;
    opacity: 0;
}
.project-content:hover .the-content{
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.project-content:hover .project4{
    color: #fafafa;
}
.the-content h2{
    margin-top: -40px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, rgb(106, 8, 233), rgb(220, 0, 240));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.the-content p{
    font-size: 14px;
    margin: 20px auto;
    margin-bottom: 40px;
    line-height: 1.2;
}
.the-content ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.the-content ul li{
    padding:5px 10px;
    background: linear-gradient(to right, rgb(106, 8, 233), rgb(220, 0, 240));
    box-shadow: 1px 1px 10px #242323;
    border-radius: 10px;
}
.the-content ul li a{
    text-decoration: none;
    color: #fafafa;
    font-size: 14px;
}
.the-content ul li:hover{
    font-style: italic;
    transition: all 0.3s ease-in;
}
.dark .the-content{
    color: #242323;
}
.show-more{
    outline: none;
    border: none;
    font-weight: 600;
    background:transparent;
    cursor: pointer;
}
.show-more:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in;
}
.dark .show-more{
    color: #fafafa;
}
.loader {
    height: 4px;
    width: 130px;
    --c:no-repeat linear-gradient(#6100ee 0 0);
    background: var(--c),var(--c),#d7b8fc;
    background-size: 60% 100%;
    animation: l16 3s infinite;
  }
  @keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
  }

/* for different screen size */

@media screen and (max-width:768px){
    .project-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width:769px) and (max-width:1020px) {
    .project-container{
        width: 50%;
        grid-template-columns: repeat(1, 2fr);
    }
}
@media screen and (min-width:1500px) {
    .project-content{
        height: 400px;
    }
}